{% extends "base.html" %}
{% block title %}
  <title>{{ title}}</title>
{% endblock title%}
{% block content%}
 
 
 <div class="wrapper">
	<header>
	</header>
	<main>
		
		<div class="img-cont">
			<div>
			<img src="{{url_for('static', filename = 'images/landing.jpg')}}" class="landing" alt="Landing Page">
			</div>
		</div>
			<div class="slider">
			
			<img src="{{url_for('static', filename = 'images/python.jpg')}}" class="slide-1" />	
			
			<img src="{{url_for('static', filename = 'images/dj.jpg')}}" class="slide-2"/>
			
			<img src="{{url_for('static', filename = 'images/flask.jpg')}}" class="slide-3" />
			
			<img src="{{url_for('static', filename = 'images/gsheets.jpg')}}" class="slide-4" />
			
			<img src="{{url_for('static', filename = 'images/selenium.jpg')}}" class="slide-5" />
			
			<img src="{{url_for('static', filename = 'images/html.jpg')}}" class="slide-6" />
			
			<img src="{{url_for('static', filename = 'images/css.jpg')}}" class="slide-7" />
			
			<img src="{{url_for('static', filename = 'images/js.jpg')}}" class="slide-8" />
			
			
		</div>
		<div class="slider-title">
			<h2 >What I Do<h2>
		</div>
		
		
		<div id="selections">

				<div><a href="http://linkedin.com/in/martinrhodes1" target="_blank" class = "selection_btn"> About </a></div>
				
				<div><a href="https://github.com/OzRhodes" target="_blank" class = "selection_btn"> Code </a></div>

		</div>
		<div id="work">
			
			<div class="example"><a href="App1" target="_blank"><img src="{{url_for('static', filename = 'images/chart.png')}}"/>
				<div class="image-title">
				<h3 >Finance Bot</h3>
				</div>
			</div>
					
			<div class="example"><a href="www.ozrhodes.com" target="_blank"><div><img src="{{url_for('static', filename = 'images/OzRhodes.png')}}"/></div>
				<div class="image-title">
				<h3>Home Page</h3> 
				</div>
			</div> app
			
			<div class="example"><a href="www.sailingeclipse.com" target="_blank"><img src="{{url_for('static', filename = 'images/wordpress.png')}}"/>
				<div class="image-title">
				<h3>Wordpress</h3>
				</div>
			</div>
			
		</div>

	</main>
	<footer>
	<div id="footer-logo">
		<div class="connect"><a  href="mailto:ozrhodes@gmail.com"><img src="{{url_for('static', filename = 'images/email.png')}}"/></div>
		<div class="connect"><a  href="http://linkedin.com/in/martinrhodes1"><img src="{{url_for('static', filename = 'images/LI.jpeg')}}"/></div>
	</div>

		
	</footer>
</div>
{% endblock content%}
